:root {
  background-color: #023D69;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}



h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
  background: -webkit-linear-gradient(#FBC841, #45ABD7);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
 

}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  font-family: 'ABeeZee', sans-serif;
  margin-bottom: 1rem;
  font-weight: 700;
  color:#65C6F4;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}







/* UTILITIES */

.quizdiscription {

  font-size: 3rem;
  font-family: 'ABeeZee', sans-serif;
  color: white;
  margin-top: -3rem;
  width: 100%;
  text-align: center;

}

.resultsdiscription {
  font-size: 3rem;
  font-family: 'ABeeZee', sans-serif;
  color: white;
  margin-top: -3rem;
  width: 150%;
  text-align: center;

}

.quiztitle {

  font-size: 7rem;
  margin-bottom: 8rem;
  font-family: 'ABeeZee', sans-serif;
  background: -webkit-linear-gradient(#FBC841, #45ABD7);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  

}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}
.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 1.80rem;
  padding: 1.4rem 0;
  height: 6rem;
  width: 25rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-top: 2rem;
  text-decoration: solid;
  color: white;
  background-color: #56a5eb;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}
